* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Blinker", sans-serif;
    overflow-x: hidden;
}
/*-----------------------header-----------------------------------------------------------------------------------------------------------------------------*/
.header {

    max-height: 806px;
    padding-top: 26px;
    background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.logo__link {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 220px;
}

.logo__text {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}

.menu {
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav__list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 145px;
}

.nav__link {
    text-decoration: none;
    color: #e4e4e4;
    opacity: 50%;
}

.nav__link:hover {
    transition: all 0.5s ease;
    border-bottom: 1px solid #e2a300;
    opacity: 100%;
}

.header__info {
    align-items: center;
    display: flex;
}

.header__text {
    max-width: 460px;
    margin-right: 123px;
}

.ht__hello {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #e4e4e4;
}

.ht__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 82px;
    color: #e4e4e4;
}

.ht__span:hover {
    font-size: 100px;
    transition: all .6s ease-in-out;
}

.ht__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #e4e4e4;
}

.ht__button {
    margin-top: 40px;
    padding: 14px 40px;
    color: #000000;
    text-decoration: none;
    background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

/*-----------------------main-----------------------------------------------------------------------------------------------------------------------------*/

.main {
    padding-top: 113px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}
.tools {
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 140px;
}
.tool {
    align-items: center;
    padding: 40px 40px;
    text-align: center;
    background: #2a2a2a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
}

.tool__name {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    color: #e4e4e4;
}

.tool__icon {
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #00c4f0;
}

/*-----------------------about-----------------------------------------------------------------------------------------------------------------------------*/

.about {
    padding-bottom: 160px;
}
.about__info {
    margin: 0 auto;
    max-width: 500px;
}
.about__title {
    z-index: 111;
    left: 865px;

    position: absolute;
    margin-bottom: 36px;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    color: #e4e4e4;
}
.about__subtitle {
    padding: 63px;
    background: #2c2c2c;
    border-radius: 14px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.img1 {
    left: 252px;
    top: 1572px;
    position: absolute;
    background: #2c2c2c;
    border-radius: 14px;
}
.img2 {
    left: 1286px;
    top: 1624px;
    position: absolute;
    background: #2c2c2c;
    border-radius: 14px;
}

/*-----------------------about-----------------------------------------------------------------------------------------------------------------------------*/

.porfolio {
    text-align: center;
    padding: 100px 0px 150px 0px;
}

.portfolio__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    color: #ffffff;
    margin-bottom: 50px;
}
.port__site {
    align-items: center;
    padding: 50px;
    max-width: 970px;
    display: flex;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
}

.ps__info {
    flex-direction: column;
    display: flex;
    margin-left: 70px;
}
.ps__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.ps__subtitle {
    margin: 25px 0px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: white;
    max-width: 300px;
}
.ps__button {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #e2a100;
}

.ps__button:hover {
    transition: all 0.3s ease;
    font-size: 24px;
}

/*-----------------------footer-----------------------------------------------------------------------------------------------------------------------------*/

.footer {
    padding: 50px 0px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.footer__info {
    justify-content: center;
    display: flex;
}
.footer__list {
    list-style-type: none;
}

.mr {
    margin-right: 115px;
}

.footer__item {
    margin-bottom: 18px;
}

.footer__item:last-child {
    margin-bottom: 0px;
}

.footer__link {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #e4e4e4;
    text-decoration: none;
}

.footer__link:hover {
    font-size: 24px;
    transition: all 0.4s ease;
}
.footer__contact {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #e4e4e4;
}

.footer__img {
    width: 181px;
    height: 48px;
    margin-left: 60px;
    margin-right: 32px;
}

.footer__listcopy {
    list-style-type: none;
}

.flc__item1 {
    margin-bottom: 55px;
}

.footer__copy {
    margin-left: 70px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #E4E4E4;
}